<div class="banner-image" #myDiv>
</div>
<div class="container">
  <br>
  <h4>Gestion des postes</h4>
<div>
 <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" style="margin-top: 15px;">
        <mat-expansion-panel-header>
           <mat-panel-title>
            <mat-icon color="primary">event_seat</mat-icon>
            &nbsp;
            Créer un nouveau poste
           </mat-panel-title>
           <mat-panel-description>
          
           </mat-panel-description>
         </mat-expansion-panel-header>
           <p><strong>Étape 1:</strong> Donnez un nom à votre poste</p>
             <form [formGroup]="newForm" (submit)="submit()" #formDirective1="ngForm" >

              <mat-form-field class="form-field" appearance="outline">
                <mat-label> Nom du poste</mat-label>
                <input matInput type="text" formControlName="nom" placeholder="Entrez un nom"/>
              </mat-form-field>

              <p style="margin-top: 5px"><strong>Étape 2:</strong> Donnez une description à votre poste</p>

              <mat-form-field class="form-field" appearance="outline">
                <mat-label> Description du poste</mat-label>
                <input matInput type="text" formControlName="description" placeholder="Entrez une description"/>
              </mat-form-field>
              
              <p style="margin-top: 5px"><strong>Étape 3:</strong> Donnez le nombre de places disponibles a votre poste </p>
              
              <mat-form-field class="form-field" appearance="outline">
                <mat-label> Nombre de places</mat-label>
                <input matInput type="text" formControlName="nombrePlace" placeholder="Entrez une description"/>
              </mat-form-field>

               <button mat-raised-button color="primary" type="submit" [disabled]="newForm.invalid" style="margin-top: 5px;">Confirmer</button>
             </form>

       </mat-expansion-panel>
    </mat-accordion>

</div>

<br>
  <mat-divider></mat-divider>
  <br>
  <h4>La liste des postes</h4>
  <mat-form-field appearance="outline">
    <mat-label>Chercher un poste</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex: ingenieur" #input>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" aria-describedby="tableDescription" matSort 
      style="margin-left: auto;margin-right: auto;width: 100%;" #table>


      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
      </ng-container>


      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>


      <ng-container matColumnDef="nombrePlace">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de place </th>
        <td mat-cell *matCellDef="let row"> {{row.nombrePlace}} </td>
      </ng-container>




      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let row">

       

       <button mat-icon-button matTooltip="Modifier le poste" (click)="openDialogUpdatePostes(row.id)" color="primary">
         <mat-icon>edit</mat-icon>
      </button>



          <button mat-icon-button matTooltip="Supprimer le poste" color="warn" (click)="openDialog(row.id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Aucun Poste ne rassemble à "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of postes"></mat-paginator>
  </div>
  <br>
  <mat-divider></mat-divider>

</div>