<div id="app" style="height: 100vh; display: flex">
  <nav class="main-menu">
      <!-- List Item Account Info-->
      <li>
        <a>
          <mat-icon class="role-icon">account_circle</mat-icon>
          <span class="role-text">
            Vous êtes un: <strong>{{ role }}</strong>
          </span>
        </a>
      </li>
      <ul id="nav_accordion">



      <!-- List Item Accueil-->
      <li class="nav-item">
        <a class="nav-link navbar-item" routerLink="home" routerLinkActive="Linkactive">
          <mat-icon class="grey-icon">home</mat-icon>
          <span class="nav-text"> Accueil </span>
        </a>
      </li>

      <!-- ADMIN List Projets -->
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#menu_item2" href="#" style="width: 250px">
          <em class="fa fa-folder-open fa-2x"></em>
          <span class="nav1-text">Concours <i class="bi small bi-caret-down-fill"></i></span>
        </a>
        <ul id="menu_item2" class="submenu collapse" data-bs-parent="#nav_accordion">
          <li>
            <a class="nav-link" routerLink="concours" routerLinkActive="Linkactive" style="width: 250px">
              <em class="fa fa-cogs fa-2x"></em>
              <span class="nav-text"> Administration </span>
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="postes" routerLinkActive="Linkactive">
              <em class="fa fa-briefcase fa-2x"></em>
              <span class="nav-text"> Postes </span>
            </a>
          </li>

          <li>
            <a class="nav-link" routerLink="questions" routerLinkActive="Linkactive">
              <em class="fa fa-question fa-2x"></em>
              <span class="nav-text"> Questions </span>
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="formulaires" routerLinkActive="Linkactive">
              <em class="fa fa-check-square-o fa-2x"></em>
              <span class="nav-text"> Formulaires </span>
            </a>
          </li>
        </ul>
      </li>

      <!-- ADMIN List Item Utilisateurs-->
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link navbar-item" routerLink="userlist" routerLinkActive="Linkactive">
          <em class="fa fa-users fa-2x"></em>
          <span class="nav-text"> Utilisateurs </span>
        </a>
      </li>


    </ul>

    <ul class="logout">
      <!-- List Item Paramètres-->
      <li class="nav-item">
        <a class="nav-link navbar-item" routerLink="profile" routerLinkActive="Linkactive">
          <em class="fa fa-cog fa-2x"></em>
          <span class="nav-text"> Paramètres </span>
        </a>
      </li>

      <!-- List Item Logout-->
      <li class="nav-item">
        <a class="nav-link navbar-item" (click)="logout()">
          <em class="fa fa-power-off fa-2x"></em>
          <span class="nav-text"> Se déconnecter </span>
        </a>
      </li>
    </ul>

  </nav>

  <!-- Fin menu de navigation -->
  <div style="width: 100vw; overflow-y: scroll; transition: all 0.2s ease-in-out">
    <router-outlet></router-outlet>
  </div>
</div>